
{% extends 'base.html' %}
{% load static %}
{% block content%}
{{block.super}}

<div class="container">
    <div class="row">
        {% for proj in projects %}
            <div class="col-md-4">
                <div class="card promoting-card mt-5">

                    <!-- Card content -->
                    <div class="card-body d-flex flex-row">
                  
                      <!-- Avatar -->
                      <img src="{{proj.image.url}}" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">
                  
                      <!-- Content -->
                      <div>
                  
                        <!-- Title -->
                        <h4 class="card-title font-weight-bold mb-2">{{proj.title}}</h4>
                        <!-- Subtitle -->
                        <p class="card-text"><i class="far fa-clock pr-2">{{proj.pub_date}}</i></p>
                  
                      </div>
                  
                    </div>
                  
                    <!-- Card image -->
                    <div class="view overlay">
                      <img class="card-img-top rounded-0 img-responsive" src="{{proj.image.url}}" alt="Card image cap">
                      <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                  
                    <!-- Card content -->
                    <div class="card-body">
                  
                      <div class="collapse-content">
                  
                        <!-- Text -->
                        <p class="card-text collapse" id="collapseContent">{{proj.description}}</p>
                        <!-- Button -->
                                          
                      </div>
                  
                    </div>
                    <div class="card-footer">
                      <div class="row">
                        <div class="col-md-6">
                          <a class="btn btn-info" href="{{proj.link}}">View Project</a>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="col-md-6">
                          <a href="{% url 'like_post' proj.id %}"><i class="fas fa-thumbs-up text-muted float-right p-1 my-1"  data-placement="top" title="I like it">{{proj.upvote}}</i></a> 
                          <a href="{% url 'dislike_post' proj.id %}"><i class="fas fa-thumbs-down text-muted float-right p-1 my-1 mr-3"  data-placement="top" title="I dont like it">{{proj.downvote}}</i></a> 
                        
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  
                  </div>
                  <!-- Card -->
            </div>

            
        {% endfor %}

    </div>
</div>


{% endblock %}